/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-gen-2022, 16.55.29
    Author     : Stefano
*/

.table-row-cell:empty {
    -fx-background-color: white;
}
 
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-view .column-header-background .label{
     -fx-text-alignment: center;
     -fx-text-fill: whitesmoke;
     -fx-font-family: Arial;
}

.table-view .table-column{
    -fx-alignment:center;
}

.table-view .column-header {
     -fx-background-color:cornflowerblue;
} 

.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-view .arrow {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: " ";
}

.button{
    -fx-border-color: #0066cc; 
    -fx-background-color:royalblue;
    -fx-text-fill: whitesmoke;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family: Arial;
    -fx-alignment: center;
}

.button:hover{
    -fx-text-fill: black;
    -fx-background-color: whitesmoke;
}

.label{
    -fx-font-size: 15px; 
    -fx-font-family: Helvetica;
    -fx-text-fill: steelblue;
}

#title{
    -fx-font-size: 40px;
    -fx-text-fill:steelblue;
    -fx-font-family: "Lucida Sans Unicode";
    -fx-alignment: center;
}
